spring:
  datasource:
    url: jdbc:mysql://mysql:3306/appdb
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

server:
  port: 8080

aws:
  endpoint: http://localstack:4566   # ← これを追加
  region: ap-northeast-1

  s3:
    bucket: memo-bucket
    endpoint: http://localstack:4566

  cognito:
    issuer: http://localstack:4566/_aws/cognito-idp/local/userPoolId
    audience: local-client-id